@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", system-ui, -apple-system, sans-serif;
  --font-poppins: "Poppins", system-ui, -apple-system, sans-serif;
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
  /* ✅ Police par défaut : Roboto */
  --font-sans: var(--font-roboto);
  /* Ajout de ta font personnalisée */
  --font-sans: var(--font-poppins);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins); /* au lieu de geist-sans */
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
